/*### COLORS ###*/
$primary-color: #3F51B5;
$dark-text-color: black;
$light-text-color: white;

/*### FONTS ###*/
$headline-font: 'Assistant', sans-serif;
$text-font: 'Assistant', sans-serif;

/*### SIZES ###*/
