@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bg-green {
  color: #ffffff;
  background-color: #065C27 !important;
}

.btn-green {
  color: #ffffff !important;
  background-color: #065C27 !important;
}

hr {
  margin: 2vh 0 !important;
}
 .btn {
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
   transition: .5s ease;
 }

 .btn:hover {
   box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, .15);
 }

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
}
.caret.down{
  border-top-color: #065C27;
}
.caret.right{
  border-left-color: #065C27;
}
.caret.up{
  border-bottom-color: #065C27;
}
.caret.left{
  border-right-color: #065C27;
}

.three-dots:before {
  content: '\2807';
  font-size: 1.2rem;
}

.hide {
  display: none !important;
}
