<mat-expansion-panel
  *ngFor="let tenant of tenants; let i = index"
  style="margin-bottom: 0.8rem;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ tenant.getName() }}
    </mat-panel-title>
    <mat-panel-description>
      {{ tenant.getProperty() != null ? tenant.getProperty().getRent() + '₪' : 'אין נכס' }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <p>
      טלפון: {{ tenant.getPhone() }}
    </p>
    <p>
      {{ tenant.getProperty() != null ? tenant.getProperty().address : '' }}
    </p>
    <mat-action-row>
      <button
        mat-raised-button
        matRipple
        color="primary"
        (click)="onEditTenant(i)"
        type="button"
      >ערוך
      </button>
      <button
        mat-raised-button
        matRipple
        color="warn"
        (click)="onDeleteTenant(i)"
        type="button"
      >מחק
      </button>
    </mat-action-row>
  </ng-template>
</mat-expansion-panel>
