  <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        appMenuButton
      >בית</a>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/properties"
        appMenuButton
      >נכסים</a>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/tenants"
        appMenuButton
      >דיירים</a>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/maintenance"
        appMenuButton
      >תחזוקה</a>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/reports"
        appMenuButton
      >דו״חות</a>
      <a mat-list-item>ספקים</a>
      <a
        mat-list-item
        routerLinkActive="active"
        routerLink="/reminders"
        appMenuButton
      >תזכורות</a>
      <a mat-list-item>הודעות</a>
      <a mat-list-item>מועמדים</a>
      <a mat-list-item>החשבון שלי</a>
    <mat-divider></mat-divider>
      <a mat-list-item>התנתקות</a>
  </mat-nav-list>
